body {
  overflow: hidden;
}

.wrapper {
  color: #000;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
    'Fira Sans', Avenir, 'Helvetica Neue', 'Lucida Grande', sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #898989;
  font-size: 5vw;
  font-weight: 500;
}

.container {
  width: 80vw;
  margin: auto;
  margin-top: 10vw;
  text-align: center;
}

.earth,
.moon {
  border: 0.5vw solid #6fd2e8;
  width: 15vw;
  height: 15vw;
  border-radius: 9vw;
  text-align: center;
  display: inline-block;
}

.earth span,
.moon span {
  font-family: 'Helvetica', sans-serif;
  color: #6fd2e8;
  font-weight: 700;
  line-height: 15vw;
  font-size: 2vw;
}

.distance {
  border-top: 0.3vw dashed #aaa;
  margin: 0 1vw;
  display: inline-block;
  width: 0;
  transform: translateY(1.8vw);

  animation-duration: 5s;
  animation-name: distance;
  animation-fill-mode: forwards;
}

.distance-label {
  font-family: 'Helvetica', sans-serif;
  color: #898989;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;

  display: block;
  width: 100%;
  transform: translateY(-5vw);
}

.moon {
  border-color: #aaa;
  width: 8vw;
  height: 8vw;
}

.moon span {
  color: #aaa;
  line-height: 8vw;
}

@keyframes distance {
  from {
    width: 8vw;
  }

  to {
    width: 49vw;
  }
}

.monster {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  height: 70vh;

  transition: bottom 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: bottom 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.monster-animate {
  bottom: -10vh;
}

#gremlin {
  transform: translate(0px, 12px);
}
#shoulder {
  transform-origin: 380px 492px;
  animation: shoulder 2s ease-in-out infinite;
  position: relative;
}
#forearm {
  transform-origin: 148px 382px;
  animation: elbow 2s ease-in-out infinite;
  position: relative;
}
#hand {
  transform-origin: 166px 166px;
  animation: wrist 2s ease-in-out infinite;
  position: relative;
}
#brow {
  transform-origin: 490px 210px;
  animation: scrunch 6s ease-in-out infinite;
  position: relative;
}
#ear {
  transform-origin: 576px 168px;
  animation: scrunch 4s ease-in-out infinite;
  position: relative;
}
#body {
  transform-origin: 450px 712px;
  animation: sway 2s ease-in-out infinite;
  position: relative;
}
#anchor {
  transform-origin: 596px 552px;
  position: absolute;
}
@keyframes shoulder {
  50% {
    transform: rotate(24deg);
  }
}
@keyframes elbow {
  50% {
    transform: rotate(14deg);
  }
}
@keyframes wrist {
  50% {
    transform: rotate(8deg);
  }
}
@keyframes sway {
  50% {
    transform: rotate(1deg);
  }
}
@keyframes scrunch {
  0%,
  71% {
    transform: translateY(4px);
  }
  72%,
  73% {
    transform: translateY(-4px);
  }
  74%,
  100% {
    transform: translateY(4px);
  }
}
@keyframes wiggle {
  0%,
  23% {
    transform: rotate(-4deg);
  }
  24%,
  100% {
    transform: rotate(4deg);
  }
}
svg {
  width: 80%;
}

