body {
  overflow: hidden;
}

.wrapper {
  color:#000;background:#fff;font-family:-apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Fira Sans', Avenir, 'Helvetica Neue', 'Lucida Grande', sans-serif;height:100vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center;
}

h1 {
  color:#898989;font-size:5vw;font-weight:500;
}

.container{
  width: 80vw;
  margin: auto;
  margin-top: 10vw;
  text-align: center;
}

.earth, .moon{
  border: 0.5vw solid #6fd2e8;
  width: 15vw;
  height: 15vw;
  border-radius: 9vw;
  text-align: center;
  display: inline-block;

}

.earth span, .moon span{
  font-family: "Helvetica", sans-serif;
  color: #6fd2e8;
  font-weight: 700;
  line-height: 15vw;
  font-size: 2vw;
}

.distance{
  border-top: 0.3vw dashed #AAA;
  margin: 0 1vw;
  display: inline-block;
  width: 0;
  transform: translateY(1.8vw);

  animation-duration: 6s;
  animation-name: distance;
  animation-fill-mode: forwards;
}

.distance-label{
  font-family: "Helvetica", sans-serif;
  color: #898989;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;

  display: block;
  width: 100%;
  transform: translateY(-5vw);
}

.moon{
  border-color: #AAA;
  width: 8vw;
  height: 8vw;

}

.moon span{
  color: #AAA;
  line-height: 8vw;
}

@keyframes distance {
  from {
    width: 8vw;
  }

  to {
    width: 30vw;
  }
}

.gremlin-peek {
  position: absolute;
  width: 10%;
  transform: rotate(180deg);

  left: 25%;
  top: -100%;
}

.gremlin-peek-animate {
  animation-duration: 3s;
  animation-name: peek;
  animation-fill-mode: forwards;
}

@keyframes peek {
  0%   { top: -100%; }
  30%  { top: 0px; }
  70%  { top: 0px; }
  100% { top: -100%; }
}

.gremlin {
  position: absolute;
  width: 40%;
  bottom: -100%;
}

.gremlin-animate {
  animation-delay: 2s;
  animation-duration: 3s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0px;
  }
}
